<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">


    <title>Dan_dan_gula</title>
    <link rel="icon" href="/img/soloFlor.png">

    
</head>
<body>
    <header>

        <div class="primero">

            <div class="logo">
                <a href="/"> <img src="/img/logoFlorRosa.png" width="160"> </a>
            </div>

        </div>
            <!--
                <div class="segundo">
               <form class="form0" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
                <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
                 </form>
         
            </div>
            -->
            
            
    
            <!-- 
                    <div class="inicio">
                        <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                        <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
                    </div>
            
                </div>
            
            -->
            
        
            <div>
                <nav class="tercero">
                    <div class="nav-barr">
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li><a href="/trabajos">Trabajos</a></li>
                            <li><a href="/perfil">Quien soy</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            
                <nav><div class="burger-menu" >
                    <div>
                        <input type="checkbox" id="menu">
                        <label for="menu"> <i class="fa fa-bars burger"></i> </label>
                    
                
                        <ul class="burger-menu2">
                            
                                <li class="desplegableM"><a href="/">Home </a></li>
                                <li class="desplegableM"><a href="/trabajos">Trabajos</a></li>
                                <li class="desplegableM"><a href="/perfil">Quien soy</a></li>
                                <li class="desplegableM"><a href="/contacto">Contacto</a></li>
    
                        </ul>
                    </div>
                </nav>
            </div>
    
    
        </div>
    
        </header>
    <main id="main-formu">
        <div class="formulario">
            <br>
            <h2>Contactame conmigo :3</h2>
            <br>
            <p>Completa este formulario y enviame un mensaje</p>
            <br>
            <form class="lawera" action="/" method="POST">
                
            <div class="caja">
                <div class="registro-inicio">
                    <label for="nombre-apellido"></label>
                    <input type="text" name="nombre" id="nombreApellido" placeholder="Nombre" required>
    

                
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                

                <div class="descripcion-contenido">
                    <label for="descripcion"></label>
                    <input type="text" name="descripcion" id="descripcion-id" placeholder="Descripcion" required>
                
                </div>

                <div class="foto-user">
                    <label class="subtitulo" for="foto">Subir archivo (opcional)<br>
                        <input type="file" name="avatar" accept=".jpg" multiple>
                    </label>
                </div>

                <div class="botones">
                <button class="buttoon" type="submit"> <a href="/">Enviar</a> </button>
                <button class="buttoon" type="reset">Borrar</button>
                </div>
            </div>
            </form>
        </div>
    </main>
    
</body>
</html>