<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">


    <title>Dan_dan_gula</title>
    <link rel="icon" href="/img/soloFlor.png">

    
</head>
<body>
    <header>

        <div class="primero">

            <div class="logo">
                <a href="/"> <img src="/img/logoFlorRosa.png" width="160"> </a>
            </div>

        </div>
            <!--
                <div class="segundo">
               <form class="form0" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
                <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
                 </form>
         
            </div>
            -->
            
            
    
            <!-- 
                    <div class="inicio">
                        <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                        <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
                    </div>
            
                </div>
            
            -->
            
         
            <div>
                <nav class="tercero">
                    <div class="nav-barr">
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li><a href="/trabajos">Trabajos</a></li>
                            <li><a href="/perfil">Quien soy</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            
                <nav><div class="burger-menu" >
                    <div>
                        <input type="checkbox" id="menu">
                        <label for="menu"> <i class="fa fa-bars burger"></i> </label>
                  
                
                        <ul class="burger-menu2">
                            
                                <li class="desplegableM"><a href="/">Home </a></li>
                                <li class="desplegableM"><a href="trabajos">Trabajos</a></li>
                                <li class="desplegableM"><a href="/perfil">Quien soy</a></li>
                                <li class="desplegableM"><a href="/contacto">Contacto</a></li>
    
                        </ul>
                    </div>
                </nav>
            </div>
            
        
    
    
        </div>
    
        </header>
    <main>
        <div id="contentItemCarrucel"  >

            <div class="itemCarrucel" id="itemCarrucel-1" >
                <div class="tarjetaCarrucel" id="tarjetaCarrucel-1">
                    <img src="/img/hatsune.jpg" alt="item-1-Carrusel-Hatsune" ><!--A-->
                    
                </div>

                <div class="flechasCarrucel" >
                    <a class="aCarrucel" href="#itemCarrucel-3"><!--izquierda-->
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    
                    <a class="aCarrucel" href="#itemCarrucel-2"><!--derecha-->
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    
                </div>
            </div>

            <div class="itemCarrucel" id="itemCarrucel-2">
                <div class="tarjetaCarrucel" id="tarjetaCarrucel-2">
                    <img src="/img/demonSlayer.jpg" alt="item-1-Carrusel-demonSlayer"><!--B-->
                </div>

                <div class="flechasCarrucel">
                    <a class="aCarrucel" href="#itemCarrucel-1"><!--izquierda-->
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    
                    <a class="aCarrucel" href="#itemCarrucel-3" ><!--derecha-->
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="itemCarrucel" id="itemCarrucel-3">
                <div class="tarjetaCarrucel" id="tarjetaCarrucel-3">
                    <img src="/img/jujutsuKaisen.jpg" alt="item-1-Carrusel-jujutsuKaisen" ><!--C-->
                </div>

                <div class="flechasCarrucel">
                    <a class="aCarrucel" href="#itemCarrucel-2" ><!--izquierda-->
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    
                    <a class="aCarrucel" href="#itemCarrucel-1"><!--derecha-->
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="contenPuntos" >
            <a href="#itemCarrucel-1"><i class="fas fa-record-vinyl" ></i></a>
            <a href="#itemCarrucel-2"><i class="fas fa-record-vinyl" ></i></a>
            <a href="#itemCarrucel-3"><i class="fas fa-record-vinyl" ></i></a>
            <!-- <b>·</b>
            <b>·</b>
            <b>·</b>-->
        </div>


    </main>
    
</body>
</html>