<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">


    <title>Dan_dan_gula</title>
    <link rel="icon" href="/img/soloFlor.png">

    
</head>
<body>
    <header>

        <div class="primero">

            <div class="logo">
                <a href="/"> <img src="/img/logoFlorRosa.png" width="160"> </a>
            </div>

        </div>
            <!--
                <div class="segundo">
               <form class="form0" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
                <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
                 </form>
         
            </div>
            -->
            
            
    
            <!-- 
                    <div class="inicio">
                        <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                        <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
                    </div>
            
                </div>
            
            -->
            
    
            <div>
                <nav class="tercero">
                    <div class="nav-barr">
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li><a href="/trabajos">Trabajos</a></li>
                            <li><a href="/perfil">Quien soy</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            
                <nav><div class="burger-menu" >
                    <div>
                        <input type="checkbox" id="menu">
                        <label for="menu"> <i class="fa fa-bars burger"></i> </label>
                    
                
                        <ul class="burger-menu2">
                            
                                <li class="desplegableM"><a href="/">Home </a></li>
                                <li class="desplegableM"><a href="/trabajos">Trabajos</a></li>
                                <li class="desplegableM"><a href="/perfil">Quien soy</a></li>
                                <li class="desplegableM"><a href="/contacto">Contacto</a></li>
    
                        </ul>
                    </div>
                </nav>
            </div>
    
    
        </div>
    
        </header>
        </header>
    <main class="quienSoy">

        <div class="fotoMia">
            <a href="/"> <img src="/img/sirena.png" width="280"> </a>
        </div>


        <div class="otroLadoDeFoto">
            <div >
                <div class="redesSociales">
                    <a class="instagram" target="_blank" href="https://www.instagram.com/dandan_gula/?hl=es-la"><i class="fab fa-instagram"></i></a>
                    <a class="facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100077511016438"><i class="fab fa-facebook"></i></a>
                </div>
                
                <a class="btn btn-primary" href="https://drive.google.com/file/d/1l-rHbZUKuqZzppnrw5JorDSsTrooR-Vg/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                    
                    "PDF Portafolio Download"
                </a>
            </div>

            <div class="textoPerfil">
                <h3>DAN DAN GULA</h3>
                
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde nostrum consectetur, laboriosam aliquam alias iure ea temporibus fugit reiciendis quia cumque, corporis dolorum animi voluptatibus repellat et repellendus vel!</P>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum hic cupiditate quibusdam maxime qui deleniti voluptate quos voluptatibus explicabo mollitia! Atque neque soluta qui aliquam incidunt fuga laborum tempore veritatis.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, eaque dolor, quis animi nulla doloribus eveniet hic pariatur voluptatibus eos explicabo fugit veritatis sint eligendi cupiditate repudiandae quos nesciunt natus! ;)</p>
                <br>
                <br>
                <p>tdadie0@hotmail.com</p> 
                <br>
                <p>(tel)</p>
            </div>

        </div>
        <!--
            <P>He trabajado como artista 2D durante los últimos 8 años, desde animación y videojuegos hasta ilustración infantil y cómics.</P>

            <p> Puedo hacer arte conceptual, desarrollo visual e ilustración final en una amplia gama de estilos, pero también tengo sólidos fundamentos en animación, lo cual fue crucial para desarrollar mi trabajo actual como artista senior de iluminación 2D en Netflix y Klaus de SPA Studios.</p>
            
            <p>Si está buscando un profesional dedicado con el compromiso de solucionar problemas y dispuesto a ampliar los límites de la imaginación, ¡deténgase ahora y aquí! ¡Estaré encantado de ayudarte! ;)</p>
            
            
            <p>pietronao@hotmail.com</p> 
        
            <p>(+34) 616 048 205</p>
        -->
    </main>
    
</body>
</html>