<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">


    <title>Dan_dan_gula</title>
    <link rel="icon" href="/img/soloFlor.png">

    
</head>
<body>
    <header>

        <div class="primero">

            <div class="logo">
                <a href="/"> <img src="/img/logoFlorRosa.png" width="160"> </a>
            </div>

        </div>
            <!--
                <div class="segundo">
               <form class="form0" action="#" method="GET">
        
                <input class="la-bara" type="text" name="barra" placeholder="Buscar productos, marcas">
                <button class="submitt" type="submit" name="barra"><i class="fa fa-search"></i></button>
                 </form>
         
            </div>
            -->
            
            
    
            <!-- 
                    <div class="inicio">
                        <div class="user-cirlcle"><a href="/login"><i class="fas fa-user-circle"></i></a></div>
                        <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
                    </div>
            
                </div>
            
            -->
    
            <div>
                <nav class="tercero">
                    <div class="nav-barr">
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li><a href="/trabajos">Trabajos</a></li>
                            <li><a href="/perfil">Quien soy</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            
                <nav><div class="burger-menu" >
                    <div>
                        <input type="checkbox" id="menu">
                        <label for="menu"> <i class="fa fa-bars burger"></i> </label>
                    
                
                        <ul class="burger-menu2">
                            
                                <li class="desplegableM"><a href="/">Home </a></li>
                                <li class="desplegableM"><a href="/trabajos">Trabajos</a></li>
                                <li class="desplegableM"><a href="/perfil">Quien soy</a></li>
                                <li class="desplegableM"><a href="/contacto">Contacto</a></li>
    
                        </ul>
                    </div>
                </nav>
            </div>
    
    
        </div>
    
        </header>
    <main>
        <section class="last-visit">
            <h3> Ilustraciones en pixeles</h3>
                <div class="products"> 
                    <article>
                        <img src="img/chicaMarron.jpg"  alt="Cafetera" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Concursos</p>
                            <p class="descuentos">:3</p>
                            <h4 class="descripcion">wacom</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="img/demonSlayer.jpg"  alt="MacBook" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Redes Sociales</p>
                            <p class="descuentos">uwu</p>
                            <h4 class="descripcion">Instagram, Facebook</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="img/dibujo.jpg"  alt="Samsung Galaxy" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Iluminación</p>
                            <p class="descuentos">x33</p>
                            <h4 class="descripcion">Fondos, personajes</h4>
                        </div>

                    </article>

                    <article>
                        <img src="img/hatsune.jpg"  alt="SmartTv" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Proyectos personales</p>
                            <p class="descuentos">jeje</p>
                            <h4 class="descripcion">Ocultas, etc</h4>
                        </div>
                        
                    </article>
                </div>

        </section><br>


        <section class="Offers">
            <h3>Ilustraciones en vectores</h3>
                <div class="products">
                    <article>
                        <img src="img/lentesPeloVerde.jpg" alt="Cafetera" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Logos</p>
                            <p class="descuentos">:0</p>
                            <h4 class="descripcion">Ilustrados, con tipografia</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="img/nezuko.jpg" alt="MacBook" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Redes Sociales</p>
                            <p class="descuentos">xs</p>
                            <h4 class="descripcion">Ilustraciones, fotografias</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="img/Yumeko-Jabami.jpg" alt="Samsung Galaxy" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Folletos</p>
                            <p class="descuentos">7-7</p>
                            <h4 class="descripcion">Tarjetas de presentacion, folletos/volantes</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="img/realismo.jpg" alt="SmartTv" class="img-producto">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="precio">Proyectos personales</p>
                            <p class="descuentos">x333</p>
                            <h4 class="descripcion">Ilustraciones</h4>
                        </div>
                        
                    </article>

                </div>
        </section>
    </main>
    
</body>
</html>